<%= form_for @event do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, placeholder: 'Title' %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :presenter%><br />
    <%= f.text_field :presenter, placeholder: 'Presenter (optional)' %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, placeholder: 'Content' %>
  </div>

  <div class="actions">
    <%= f.submit "Update Event" %>
  </div>
<% end %>
