<img src="http://placehold.it/700x500">

<%- @events.each do |event| %>
  <h2><%= link_to event.title, event_path(event) %></h2>
  <h4><%= event.presenter %> <%= event.date.strftime("%d/%m/%Y") %></h4>
  <p><%= truncate(event.content, length: 50, separator: ' ') %></p>
<% end %>
<%- if  current_user.nil? || current_user.admin?  %>
  <%= button_to 'Add Event', new_event_path, method: :get %>
<% end %>
