<!DOCTYPE html>
<html>
  <head>
    <title>Book Club</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <!-- <footer>
      <%= audio_tag("baby_songs_theme.mp3", autoplay: true, controls: true, loop: true) %>
    </footer> -->
  </body>
</html>
